<!-- / 右サイド -->
<div id="wrap_side">
  <div id="sns_icon-lg">
    <div id="sns_bl grid">
      <div id="sns_fa" class="item_4">
        <a class="ic_fb" href="https://www.facebook.com/nijiiro.music.school.okinawa"></a>
          <!--<%= image_tag "youtube.png"%>-->
      </div>
      <div id="sns_ins" class="item_4">
        <a class="ic_insta" href="https://www.instagram.com/njiiromusicschool_okinawa/?hl=ja"></a>
          <!--<%= image_tag "instagram.png"%>-->
      </div>
      <div id="sns_fb" class="item_4">
        <a class="ic_youtube" href="https://www.youtube.com/channel/UCyxuVIp6NrbP1N6jgZeGcmg"></a>
          <!--<%= image_tag "facebook.png"%>-->
      </div>
      <a class="ic_fb" href="https://www.facebook.com/nijiiro.music.school.okinawa"><img alt="ピアノ教室・にじいろミュージックスクールの公式Youtubeページ"src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/ic_fb.svg" width="40"></a>
      <a class="ic_insta" href="https://www.instagram.com/njiiromusicschool_okinawa/?hl=ja"><img alt="ピアノ教室・にじいろミュージックスクールの公式Youtubeページ"src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/ic_insta.svg" width="40"></a>
      <a class="ic_youtube" href="https://www.youtube.com/channel/UCyxuVIp6NrbP1N6jgZeGcmg"><img alt="ピアノ教室・にじいろミュージックスクールの公式Youtubeページ"src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/ic_youtube.svg" width="40"></a>
    </div>    
  </div>
  <div id="side_r">
      <a id="bn_blog" href="https://nijiiro-ms.seesaa.net/"></a>
        <%= image_tag "blog.png"%>
      <a id="bn_rhythm" href="https://rhythm.nijiiro-ms.com"></a>
        <%= image_tag "litomic.png"%>
      <a id="bn_flute" href="https://flute.nijiiro-ms.com"></a>
        <%= image_tag "flute.png"%>  
      <!--<a id="bn_blog" href="https://nijiiro-ms.seesaa.net/"><img alt="ピアノ教室のスタッフブログ"src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/blog-bn.png" width="172" height="400"></a>
      <a id="bn_rhythm" href="https://rhythm.nijiiro-ms.com"><img alt="沖縄 リトミック教室はこちら"src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/rhythm-bn.png" width="183" height="414"></a>
      <a id="bn_flute" href="https://flute.nijiiro-ms.com"><img alt="沖縄 フルート教室はこちら"src="https://nijiiro-ms.com/wp/wp-content/themes/piano/images/flute_bn.png" width="172" height="400"></a>-->
  </div>
</div>
<!-- / 右サイド -->