<!DOCTYPE html>
<html lang="ja">
  <!-- headー -->
  <%= render 'layouts/head' %>
  <!-- headー -->
  <body>
    <div id="wrapper" class="body">    
      <!-- ヘッダー -->
      <%= render 'layouts/header' %>
      <!-- ヘッダー -->        
      <div id="container">
        <div id="content" class="top">
          <!-- main -->
          <%= yield %>
          <!-- main -->
        </div>
        <!-- / contenttop-->

        <!-- / 右サイド -->
        <%= render 'layouts/wrap_side_right' %>
        <!-- / 右サイド -->
        
        <!-- / 左サイド -->
        <%= render 'layouts/sidebar_left' %>
        <!-- / 左サイド -->
      </div>
      <!-- / container -->   
      <!-- / コンテンツ -->
      <!-- フッター -->
      <%= render 'layouts/footer' %>
    </div>
    <!-- /wrapper -->     
  </body>
</html>

